<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Registration</title>
    {%load static%}
    <link rel="icon" type="image/x-icon" href="{% static 'images/logo.png' %}">
    <style>
        .card-registration .select-input.form-control[readonly]:not([disabled]) {
            font-size: 1rem;
            line-height: 2.15;
            padding-left: .75em;
            padding-right: .75em;
        }

        .card-registration .select-arrow {
            top: 13px;
        }

        .messages .success {

            color: green;
        }

        .messages .error {
            color: red;
        }

        .messages {
            width: 100%;
            text-align: center;
            margin-top: 20px; /* Adjust this value as needed */
        }
    </style>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>

    <form  method="post">
        <section class="h-100 bg-dark">

            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col">
                        <div class="card card-registration my-4">
                            <div class="row g-0">
                                <div class="col-xl-6 d-none d-xl-block">
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                                        alt="Sample photo" class="img-fluid"
                                        style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
                                </div>
                                <div class="col-xl-6">

                                    <div class="card-body p-md-5 text-black">
                                        <h3 class="mb-5 text-uppercase">Student registration form</h3>
                                    {% csrf_token %}                            
                                    {% if messages %}
                                    {% for message in messages %}
                                        {% if message.tags == 'error' %}
                                            <div class="alert alert-danger text-center messages" role="alert">
                                                {{ message }}
                                            </div>
                                        {% elif message.tags == 'success' %}
                                            <div class="alert alert-success text-center messages" role="alert">
                                                {{ message }}
                                            </div>
                                        {% else %}
                                            <div class="alert alert-{{ message.tags }} text-center messages" role="alert">
                                                {{ message }}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}


                                        <div class="form-outline mb-4">
                                            <label class="form-label" >Name</label>
                                            <input type="text" id="name" name="name" class="form-control form-control-lg" />
                                            
                                        </div>

                                        <div class="form-outline mb-4">
                                            <label class="form-label" >Username</label>
                                            <input type="text" id="username" name="username" class="form-control form-control-lg" />
                                            
                                        </div>
                                        <div class="form-outline mb-4">
                                        <label for="name">Enrollment Number</label>
                                        <input type="text" placeholder="Eg : MITU21BTCS0003" id="enrollment_no" name ='enrollment_no' class="form-control form-control-lg">
                                        </div>  
                                        <div class="form-outline mb-4">
                                            <label class="form-label" >Email</label>
                                            <input type="email" id="email" name="email" class="form-control form-control-lg" />
                                           
                                        </div>

                                        <div class="form-outline mb-4">
                                            <label for="hostel_name" class="form-label">Hostel Name</label>
                                            <select id="hostel_name" name ="hostel_name" class="form-select form-control-lg">
                                                <option value="SOE Wing Hostel (D Block)">SOE Wing Hostel (D Block)
                                                </option>
                                                <option value="SOE Wing Hostel ( E Block)">SOE Wing Hostel ( E Block)
                                                </option>
                                                <option value="SOE Wing Hostel (F Block)">SOE Wing Hostel (F Block)
                                                </option>
                                                <option value="Institute of Design">Institute of Design
                                                </option>
                                                <option value="SOE Wing Hostel (D Block)">SOE Wing Hostel (D Block)
                                                </option>
                                                <option value="New Staff Quarters No 1">New Staff Quarters No 1
                                                </option>
                                                <option value="New Staff Quarters No 2">New Staff Quarters No 2
                                                </option>
                                                <option value="Boat Club">Boat Club
                                                </option>
                                                <option value="Raj">Raj
                                                </option>
                                                <option value="Sangeet Kala Academy">Sangeet Kala Academy
                                                </option>
                                                <option value="Gurukul C Block">Gurukul C Block
                                                </option>
                                                <option value="Institute of Design No 1">Institute of Design No 1
                                                </option>
                                                <option value="Institute of Design No 2">Institute of Design No 2
                                                </option>
                                                <option value="Anuja 1">Anuja 1
                                                </option>
                                                <option value="Anuja 2">Anuja 2
                                                </option>
                                                <option value="Anuja 3">Anuja 3
                                                </option>
                                                <option value="Anuja 4">Anuja 4
                                                </option>
                                                <option value="Nalini Pride">Nalini Pride
                                                </option>
                                                <option value="Vitthal Krupa">Vitthal Krupa
                                                </option>
                                                <option value="Anuja 5">Anuja 5
                                                </option>
                                                <option value="Anuja 6">Anuja 6
                                                </option>
                                                <option value="Shakuntala">Shakuntala
                                                </option>
                                                <option value="Shree Aangan">Shree Aangan
                                                </option>
                                                <option value="Vaishnavi Pride">Vaishnavi Pride
                                                </option>
                                                <option value="Vaishnavi Complex">Vaishnavi Complex
                                                </option>
                                            </select>
                                        </div>


                                        <div class="form-outline mb-4">
                                            <label class="form-label" >Room Number</label>
                                            <input type="text" id="room_no"  name="room_no" class="form-control form-control-lg" />
                                           
                                        </div>
                                        <div class="form-outline mb-4">
                                            <label class="form-label" >Phone Number</label>
                                            <input type="text" id="phone" name="phone" class="form-control form-control-lg" />
                                            
                                        </div>

                                        <div class="form-outline mb-4">
                                            <label class="form-label" >Password</label>
                                            <input type="password" id="password" name="password" class="form-control form-control-lg" />
                                            
                                        </div>
                                        <p class="mb-4">Already have an account? <a href="/student/studentlogin">Login
                                                here</a></p>
                                        <div class="d-flex justify-content-center pt-3">

                                            <button type="submit" class="btn btn-warning btn-lg ms-2">Register
                                                </button>

                                        </div>
                                    

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>